<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/styles/styles.css">
  <title>Document</title>
</head>

<body>
  <main class="main-section">
    <div class="heading">
      <h1 class="heading__title">Gradient Banner Cards</h1>
    </div>
    <div class="section-books cards">
      <div class="card card-3">
        <div class="card__icon"><i class="fas fa-bolt">Дефолтная книга/заглушка</i></div>
        <p class="card__exit"><i class="fas fa-times">X</i></p>
        <div class="card__descr">
          <p class="card__title">Описание книги заглушки.</p>
          <p class="card__title">Автор книги заглушки</p>
          <p class="card__title">Автор книги заглушки</p>
          <p class="card__title">Автор книги заглушки</p>
          <p class="card__title">Автор книги заглушки</p>
        </div>
        <p class="card__apply">
          <a class="card__link" href="#">Редактировать карточку <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </main>
</body>

</html>

<!-- 
  const defaultBook = {
  id: 1,
  title: "",
  description: "",
  authors: "",
  favorite: "",
  fileCover: "Автор книги заглушки",
  fileName: ""
}
 -->